:root {
  --color-primary: #FF781B;
  --color-black-800: #242424;
  --color-black-700: #393B3F;
  --color-black-600: #43464A;
  --color-black-500: #6E7276;
  --color-black-400: #CCCCCC;
  --color-white: #fff;
  --font-size-xl: 1.7rem;
  --font-size-l: 1.3rem;
  --container-mobile: 96%;
}
*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body::after {
  background: linear-gradient(to bottom right, var(--color-black-800), var(--color-black-700));
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  content: '';
  z-index: -1;
}
.separator {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background-color: var(--color-black-600);
}
.btn {
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  color: var(--color-white);
  background-color: var(--color-primary);
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}
.font-text {
  font-family: 'open-sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-l {
  font-size: var(--font-size-l);
}
.text-xl {
  font-size: var(--font-size-xl);
}
.text-uppercase {
  text-transform: uppercase;
}
.text-black-700 {
  color: var(--color-black-700);
}
.text-black-600 {
  color: var(--color-black-600);
}
.text-black-500 {
  color: var(--color-black-500);
}
.text-black-400 {
  color: var(--color-black-400);
}
.text-white {
  color: var(--color-white);
}
.text-primary {
  color: var(--color-primary);
}
.new-section {
  margin-top: 60px;
}
.benefit {
  position: relative;
  color: var(--color-white);
  top: 60px;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.paper {
  background: linear-gradient(to bottom right, var(--color-black-700), var(--color-black-800));
  padding: 15px;
  border-radius: 10px;
}
.form-group>label {
  display: block;
  text-transform: uppercase;
  color: var(--color-black-400);
  padding: 7px 0;
}
.form-group>.form-control {
  width: 100%;
  line-height: 40px;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--color-black-600);
  color: var(--color-white);
  margin-bottom: 10px;
}
header {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
header>.left {
  display: flex;
  gap: 15px;
}
header>.left>.menu {
  list-style: none;
  margin-top: 7px;
}
header>.left>.menu>li {
  display: inline;
  margin: 0 5px;
}
header>.left>.menu>li>a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
header>.left>.menu>li>a:hover {
  color: var(--color-primary);
}
header>.right>.ads{
  margin-top: 40px;
}
header>.right>.ads>img {
  display: block;
  width: 600px;
  z-index: 3;
  position: relative;
}
header>.right::after{
  content: '';
  top: 0;
  bottom: 30%;
  left: 70%;
  right: 0;
  background-color: var(--color-primary);
  position: absolute;
  border-bottom-left-radius: 35%;
  z-index: 1;
}
.ads-text {
  color: var(--color-black-400);
  font-size: 4rem;
  position: absolute;
  width: 40%;
  top: 18%;
  left: 35px;
  line-height: 6rem;
  font-family: 'Open-Sans';
}
.benefit {
  display: flex;
  gap: 40px;
  top: 100px;
  position: relative;
}
.benefit>.paper{
  padding: 30px;
}
.benefit>.paper>img {
  padding-bottom: 20px;
}
.benefit>.paper>div:last-child {
  padding-top: 10px;
  font-size: 1.2rem;
  line-height: 25px;
}
.materi {
  position: relative;
  top: 160px;
  display: flex;
  justify-content: space-between;
}
.materi>div:first-child{
  width: 45%;
}
.materi>div:last-child {
  width: 50%;
}
.materi>div:first-child>.title{
  padding-bottom: 35px;
}
.materi>div:first-child>div:not(:first-child){
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.materi>div:first-child>div:not(:first-child)>.order{
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}
.materi>div:first-child>div:not(:first-child)>.order::before {
  background-color: var(--color-black-600);
  content: '';
  position: absolute;
  left: -6px;
  right: 0;
  top: -5px;
  z-index: -1;
  padding: 15px;
  border-radius: 100%;
}
.materi>div:first-child>div:not(:first-child)>.text {
  margin-top: 7px;
}
.materi>div:last-child>.paper {
  padding: 20px;
  width: 100%;
}
footer {
  margin-top: 220px;
  position: relative;
  margin-bottom: 30px;
}

@media screen and (max-width:780px) {
  .container {
    width: 98%;
  }
  header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    width: var(--container-mobile);
    margin: 0 auto;
  }
  header>.left {
    display: flex;
    gap: 15px;
    left: 0;
  }
  header>.left>.menu>li {
    display: inline;
    margin: 0 2px;
  }
  header>.right>.ads{
    margin-top: 40px;
    margin: 0;
  }
  header>.right>.ads>img {
    display: block;
    max-width: 100%;
    display: none;
    z-index: 3;
    position: relative;
  }
  header>.right::after{
    content: '';
    position: relative;
  }
  .ads-text {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    top: 80px;
    left: 0;
    right: 0;
    line-height: 3rem;
    width: var(--container-mobile);
    margin: 0 auto;
  }
  .benefit {
    display: block;
    gap: 0;
    margin-top: 120px;
  }
  .materi {
    display: block;
    width: var(--container-mobile);
    margin: 0 auto;
  }
  .benefit>.paper{
    margin-bottom: 25px;
  }
  .materi>div:first-child>.title{
    text-align: center;
  }
  .materi>div:first-child{
    width: var(--container-mobile);
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .materi>div:last-child {
    width: var(--container-mobile);
    margin: 0 auto;
  }
}